<div class="booking-app-menu">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-brand" href="#"><img src="assets/logo.png"/> <span>Booking</span></a>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            
            <a class="booking-app-navbar-brand" href="#"><img src="assets/logo.png"/> <span>Booking</span></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="booking-app-nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="booking-app-nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="booking-app-nav-item">
                <a class="nav-link" routerLink="admin-dashboard">Admin</a>
              </li>
            </ul>
      
          </div>
        </div>
        
      </nav>
    </div>
  </header>
</div>
<router-outlet></router-outlet>


