<div class="booking-app-header">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-brand" href="#"><img src="assets/logo.png"/> <span>Booking</span></a>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            
            <a class="booking-app-navbar-brand" href="#"><img src="assets/logo.png"/> <span>Booking</span></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="booking-app-nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="booking-app-nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="booking-app-nav-item">
                <a class="nav-link" routerLink="country-master">About</a>
              </li>
            </ul>
      
          </div>
        </div>
        
      </nav>
    </div>
  </header>
  <section >
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div >
            <h1>
              Hello, <br>
              Shatrudhan here <br>
              Here
            </h1>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page
            </p>
          </div>
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="booking-app-img-box">
            <img src="assets/slider-img.png" alt="">
          </div>
        </div>
    </div>

  </section>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


