<section  class="booking-home-header">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div >
            <br>
            <br>
          <h1>
            Hello, <br>
            Shatrudhan here <br>
            Here
          </h1>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page
          </p>
        </div>
      </div>
      <div class="offset-md-1 col-md-4">
        <div class="booking-app-img-box">
          <img src="assets/slider-img.png" alt="">
        </div>
      </div>
  </div>
</section>