<div class="booking-subpage-header">
</div>

<div class="container">
   
    <div class="panel panel-default booking-panel">
      <div class="panel-heading booking-panel-header">Countries
        <a routerLink="../country">
            <i class="fa fa-plus-square booking-form-add-icon" ></i>
        </a>
        
    </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th class="col-md-1">Action</th>
              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let country of countries">
                <td>{{country.id}}</td>
                <td>{{country.name}}</td>
                <td>{{country.code}}</td>
                <td>
                    <div class="booking-form-action">
                      <i class="fa fa-ellipsis-h booking-form-action-icon" > </i>
                        <div class="booking-form-action-content">
                          <a routerLink="../country">Edit</a>
                          <a routerLink="../country">View</a>
                          <a routerLink="../country">Delete</a>
                        </div>
                    </div>
                </td>
              </tr>
             
            </tbody>
          </table>
         
      </div>
   
    </div>
     <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
      <div class="col-md-3"></div>
     </div>
  </div>