body{
    margin:0;
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.booking-right{
  float: right;
}
.booking-center{
  justify-content: center;
}
/* footer section*/
.booking-footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fdfeff;
  }
  
  .booking-footer-section p {
    color: #171717;
    margin: 0;
    padding: 25px 0 20px 0;
    margin: 0 auto;
    text-align: center;
  }
  
  .booking-footer-section a {
    color: #171717;
  }
  
  /* end footer section*/

  /* info section */
.booking-info-section {
    position: relative;
    background-color: #1a2e35;
    color: #ffffff;
  }
  
  .booking-info-section .heading_container {
    margin-bottom: 45px;
  }
  
  .booking-info-section h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .booking-info-section .info_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 75px;
  }
  
  .booking-info-section .info_top .info_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .booking-info-section .info_top .info_logo img {
    width: 65px;
  }
  
  .booking-info-section .info_top .info_logo span {
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
  }
  
  .booking-info-section .info_top .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .booking-info-section .info_top .social_box a {
    margin: 0 10px;
  }
  
  .booking-info-section .info_top .social_box a img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
  }
  
  .booking-info-section a {
    text-transform: none;
  }
  
  .booking-info-section ul {
    padding: 0;
  }
  
  .booking-info-section ul li {
    list-style-type: none;
    margin: 3px 0;
  }
  
  .booking-info-section ul li a {
    color: #ffffff;
  }
  
  .booking-info-section .info_link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .booking-info-section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
  }
  
  .booking-info-section .info_form form button {
    display: inline-block;
    padding: 8px 40px;
    background-color: #ff4f5a;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 0;
    border: 1.5px solid #ffffff;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .booking-info-section .info_form form button:hover {
    background-color: transparent;
    border-color: #ff4f5a;
    color: #ff4f5a;
  }
  
  .booking-info-section .info_contact .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
    color: #ffffff;
  }
  
  .booking-info-section .info_contact .link-box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 45px;
    min-height: 45px;
    margin-right: 20px;
  }
  
  .booking-info-section .info_contact .link-box .img-box img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
  }
  
  /* end info section */


  .booking-subpage-header{
    height: 5vh;
  }

  .booking-form-add-icon{
    font-size: 24px;
    float: right;
    color: white;
    padding-bottom: 10px;
  }
  .booking-panel{
    box-shadow: 2px 2px 2px 2px #1cbbb4;
  }
  .booking-panel-header{
    background-color: #1a2e35;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

.booking-form-action-icon{
  font-size: 24px;
  margin-left: 40%;
  color: #1cbbb4;
  align-content: center;
}

.booking-form-action-content {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.booking-form-action-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.booking-form-action:hover  .booking-form-action-content {
  display: block;
}
.booking-form-action-content a:hover{
  background-color: #1cbbb4;
}

/*Pagination Start*/
.pagination{
  justify-content: center;
}
.pagination > li > a
{
    background-color: #1a2e35;
    color: white;
}
.pagination > .active > a
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    background-color: #1cbbb4;
}
.pagination > .active > a
{
  color: black;
  background-color: #1cbbb4;
  cursor: not-allowed;
}

/*Pagination End*/


/* Form Start*/
.booking-form-label{
  float: right;
  font-weight: 500;
}

.booking-for-row{
  padding-bottom: 10px;
}

.booking-button{
  float: right;
  margin-top: 30px;
  background-color: #1a2e35;
  color: white;
}
.booking-button:hover{
  background-color: #1cbbb4;
  color: black;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* Form End*/